@using System.Globalization
@using Shared
@using Shared.Dtos


<tr class="hover:bg-gray-50">
    <td>
        @if (!string.IsNullOrEmpty(GameHistoryItem.Word)) {
            <span>@GameHistoryItem.Word</span>
        }
        else {
            <span class="text-gray-500 italic">-</span>
        }
    </td>

    <td>
        @GameHistoryItem.Attempts?.Count
    </td>

    <td>
        @GameHistoryItem.HardMode.ToString(CultureInfo.InvariantCulture)
    </td>

    <td>
        @GameHistoryItem.Hints.ToString(CultureInfo.InvariantCulture)
    </td>

    <td>
        @GameHistoryItem.GameStatus
    </td>

    <td>
        <a class="text-blue-600 hover:underline" href="/game/@GameHistoryItem.Id">Open</a>
    </td>
</tr>

@code {
    [Parameter]
    public GameDto GameHistoryItem { get; set; } = default!;
}